#id1{
    font-size: 30px;
}
#id2{
    font-family: monospace;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}
#id3{
    font-style: italic;
    /*font-style: oblique;
    font-style: initial;*/
}
#id4{
    font-weight: bolder;
    font-size: 2em;
}