#div1{
    height: 30px;
    width: 30px;
    margin: 90px;
    background-color: brown;
    /*transform: translate(30px,30px);
*/
    /*transform: rotateZ(45deg);*/
    /*transform: scale(2,5);*/
    /*transform: skew(45deg,0);*/
    /*transform: initial;*/
    /*transform: unset;*/
    transform: rotate(57deg);

}